<?xml version="1.0" encoding ="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="com.raygroupintl.eclipse.vista.contribution1"
            nameFilter="*.m"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               label="M Refactor"
               path="additions"
               id="com.raygroupintl.eclipse.vista.menu1">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               label="Expand Keywords"
               class="com.raygroupintl.eclipse.vista.popup.actions.ExpandKeywords"
               menubarPath="com.raygroupintl.eclipse.vista.menu1/group1"
               enablesFor="1"
               id="com.raygroupintl.eclipse.vista.newAction">
         </action>
      </objectContribution>

      <objectContribution
            id="com.raygroupintl.eclipse.vista.mtoolscontribution"
            nameFilter="*.m"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               label="M Tools"
               path="additions"
               id="com.raygroupintl.eclipse.vista.mtools">
            <separator
                  name="parent">
            </separator>
         </menu>
         <action
               class="com.raygroupintl.eclipse.vista.popup.actions.VPAAssumedVariablesTool"
               enablesFor="+"
               id="com.raygroupintl.eclipse.vista.newAction"
               label="Assumed Variable"
               menubarPath="com.raygroupintl.eclipse.vista.mtools/parent">
         </action>
         <action
               label="Quit Type"
               class="com.raygroupintl.eclipse.vista.popup.actions.VPAQuitTypeTool"
               menubarPath="com.raygroupintl.eclipse.vista.mtools/parent"
               enablesFor="+"
               id="com.raygroupintl.eclipse.vista.newAction">
         </action>
         <action
               class="com.raygroupintl.eclipse.vista.popup.actions.VPAOccurancesTool"
               enablesFor="+"
               id="com.raygroupintl.eclipse.vista.newAction"
               label="Occurance"
               menubarPath="com.raygroupintl.eclipse.vista.mtools/parent">
         </action>
         <action
               class="com.raygroupintl.eclipse.vista.popup.actions.VPAErrorTool"
               enablesFor="+"
               id="com.raygroupintl.eclipse.vista.newAction"
               label="Error"
               menubarPath="com.raygroupintl.eclipse.vista.mtools/parent">
         </action>
      </objectContribution>


   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.raygroupintl.eclipse.vista.CheckMErrorsDefaultHandler"
            id="com.raygroupintl.eclipse.vista.checkMErrors"
            name="Check M Errors">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?after=additions">
         <menu
               commandId="com.raygroupintl.eclipse.vista.checkMErrors"
               id="CheckMError"
               label="Check M Errors"
               mnemonic="CheckMError">
            <command
                  commandId="com.raygroupintl.eclipse.vista.checkMErrors"
                  label="Check M Errors"
                  style="push">
            </command>
         </menu>
         <command
               commandId="com.raygroupintl.eclipse.vista.checkMErrors"
               label="Check M Errors"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:com.com.com?after=additions">
         <command
               commandId="com.raygroupintl.eclipse.vista.checkMErrors"
               label="Check M Errors"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <!--extension
         point="org.eclipse.ui.views">
      <category
            id="com.raygroupintl.eclipse.vista"
            name="MUMPs">
      </category>
      <view
            category="com.raygroupintl.eclipse.vista"
            class="com.raygroupintl.eclipse.vista.views.MRAToolConsoleView"
            icon="icons/sample.gif"
            id="com.raygroupintl.eclipse.vista.views.MRAToolConsoleView"
            name="MRA Tool Console View">
      </view>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension-->

</plugin>
